[Unit]
Description=Kodi logger
After=remote-fs.target systemd-user-sessions.service network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/kodi-logger

[Install]
WantedBy=default.target
